@import "@styles/index.scss";

.card_container {
  max-width: 239px;

  &:hover {
    scale: 1.02;
    transition: 0.3s;
  }
}

.card_image_container {
  .active_product {
    display: none;
  }

  &:hover {
    .active_product {
      transition: 0.3s;
      display: flex;
    }
  }
}

.active_product {
  width: 239px;
  height: 47px;
  background: rgba(109, 132, 255, 0.71);
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
  bottom: 5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card_details {
  gap: 12px;
  justify-content: space-evenly;
}

.card_img {
  border-radius: 4px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card_heart_icon.card_heart_icon {
  right: 16px;
  top: 16px;
  z-index: 3;

  &_liked {
    fill: red;
  }
}

.card {
  &_title {
    @include ellipsis;

    font-size: 20px;
  }

  &_price {
    font-size: 20px;
    gap: 5px;
  }
}

.original_price {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
}

.discounted_price {
  font-weight: 600;
  color: #6d84ff;
}
