$body-font-size: 16px;
$h1-size: 32px;
$h2-size: 24px;
$h3-size: 18px;
$h4-size: 16px;
$h5-size: 14px;
$h6-size: 12px;

$default-font-weight: 400;
$bold-font-weight: 600;
$bolder-font-weight: 800;

$sizeUnit: px;
$marginKey: "m";
$paddingKey: "p";
$separator: "-";
$sizes: (
  ("none", 0),
  ("xxs", 8),
  ("xs", 16),
  ("s", 24),
  ("sx", 32),
  ("m", 40),
  ("l", 48),
  ("xl", 64)
);
$positions: (("t", "top"), ("r", "right"), ("b", "bottom"), ("l", "left"));

@function sizeValue($key, $value) {
  @return if($key == "none", 0, $value + $sizeUnit);
}

@each $size in $sizes {
  $sizeKey: nth($size, 1);
  $sizeValue: nth($size, 2);
  .#{$marginKey}#{$separator}#{$sizeKey} {
    margin: sizeValue($sizeKey, $sizeValue);
  }
  .#{$paddingKey}#{$separator}#{$sizeKey} {
    padding: sizeValue($sizeKey, $sizeValue);
  }
  @each $position in $positions {
    $posKey: nth($position, 1);
    $posValue: nth($position, 2);
    .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
      margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
    }
    .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
      padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
    }
  }
}

h1,
.h1 {
  font-size: $h1-size;
}

h2,
.h2 {
  font-size: $h2-size;
}

h3,
.h3 {
  font-size: $h3-size;
}

h4,
.h4 {
  font-size: $h4-size;
}

h5,
.h5 {
  font-size: $h5-size;
  margin-bottom: 0.5rem;
}

h6,
.h6 {
  font-size: $h6-size;
  margin-bottom: 0.5rem;
}

.bold {
  font-weight: $bold-font-weight;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.cursor {
  cursor: pointer;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.hide {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex-ac {
  align-items: center;
}

.flex-jc {
  justify-content: center;
}

.flex-c {
  @extend .flex-ac;
  @extend .flex-jc;
}
