@mixin flex-row-reverse {
  @include flex-row;

  flex-direction: row-reverse;
}

@mixin text-c {
  text-align: center;
}

@mixin justify-c {
  justify-content: center;
}

@mixin align-c {
  align-items: center;
}

@mixin flex-c {
  @include align-c;
  @include justify-c;
}

@mixin flex-row-c {
  @include flex-r;
  @include align-c;
  @include justify-c;
}

@mixin flex-col-c {
  @include flex-col;
  @include align-c;
  @include justify-c;
}
